body {
    color: #2a2b30;
    background-color: #f6f6f6;
    font-family: Play-Regular !important;
}

a,
a:hover,
a:focus {
    text-decoration: none !important;
    border: none !important;
}

.page-item.active a {
    z-index: 2;
    color: #fff;
    background-color: #b50606 !important;
    border-color: #b50606 !important;
}

.navbar {
    background: #ffffff;
}

.navbar h1 {
    margin: 10px 0px;
    font-size: 18px;
}

.images img {
    width: 120px!important;
    height: 100% !important;
}

.user-info {
    margin: 70px 0px;
    text-align: center;
    color: #fff;
}

.user-info img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /*margin-bottom: 20px;*/
}

.sidebar {
    position: fixed;
    left: 0px;
    z-index: 999;
    width: 80px;
    float: left;
    background: #b50606;
    /* background: linear-gradient(180deg, rgba(54, 209, 220, 1) 0%, rgba(91, 134, 229, 1) 100%); */
    transition: all .25s ease-in-out;
}

.sidebar a {
    height: 30px !important;
    overflow: hidden;
}

.sidebar .nav-button {
    color: #fff !important;
}

.sidebar .list-group {
    margin-top: 30px;
}

.sidebar .list-group a {
    color: #fff;
}

.sidebar ul {
    padding: 0px;
    margin-top: 7px;
}

.sidebar a {
    display: block;
}

.sidebar .full-menu {
    display: none;
}

.toggled .full-menu {
    display: inline-block;
    margin-left: 15px;
}

.sidebar ul li {
    list-style: none;
    border-bottom: 1px solid #ddd;
}

.sidebar ul .user-info img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.sidebar ul li a {
    padding: 20px;
    display: block;
    color: initial;
}

.sidebar ul li a:hover {
    text-decoration: none;
    background: #d33f8d;
    color: #fff;
}

.toggled .sidebar {
    width: 200px;
    transition: all .25s ease-in-out;
}

.content-warp {
    background-color: #F3F3F5;
    float: right;
    padding: 20px 30px !important;
}


/*.content-warp .card a {
    margin-left: auto;
}

.content-warp .card a i {
    position: relative;
    top: 1.5px;
}
*/

hr {
    border: 0px;
    border-bottom: 1px solid #e9ecef;
    width: 100%;
}

.margin-reset {
    margin: 0px;
}

.detail-page-warp {
    background-color: #f5f5f5;
    padding: 50px 0px;
    min-height: calc(100vh - 80px);
}

.detail-page-warp img {
    margin-bottom: 20px;
}

.detail-page-warp h5 {
    line-height: 1.6;
}

.filter-warp {
    margin-bottom: 20px;
}

.filter-warp select,
.filter-warp input {
    border-radius: 4px;
    /* padding: 10px 15px; */
    height: 45px !important;
    border: 1px solid #fff;
    width: 100%;
}

.filter-warp .form-check {
    margin-top: 9px;
    margin-left: -10px;
}

.filter-warp .btn-primary {
    /* margin-top: 30px; */
    border-radius: 4px;
    min-width: 95px;
    background-color: #b50606;
    border-color: #b50606;
}

.filter-warp .form-check input {
    width: auto;
    margin: 0;
    height: 28px !important;
}

.filter-warp label {
    margin: 0px;
    font-size: 13px;
    font-weight: 500;
}

#sidebar-wrapper {
    min-height: 100vh;
    min-height: 100vh;
    padding: 20px 15px;
}

#sidebar-wrapper i {
    font-size: 24px;
    top: 3px;
    position: relative;
    width: 50px;
    text-align: center;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#page-content-wrapper {
    padding-left: 80px;
    transition: all .25s ease-in-out;
}

.collapse-width {
    padding-left: 200px !important;
    transition: all .25s ease-in-out;
}

.advertisement img {
    width: 100% !important;
    height: 100% !important;
    position: relative;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2;
}


/* Hide the browser's default checkbox */


/*.container input {*/


/*    position: absolute;*/


/*    opacity: 0;*/


/*    cursor: pointer;*/


/*    height: 0;*/


/*    width: 0;*/


/*}*/


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 4px;
}


/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.news-meta h5 {
    margin-bottom: 0px;
}

.news-meta span {
    font-size: 14px;
    display: block;
}

.fa-facebook,
.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter,
.fa-twitter-square {
    color: #00aced;
}

.content-warp .card {
    padding: 10px;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 30px;
    min-height: 300px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 3px;
    height: 320px;
}

.news-title h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    width: calc(100% - 75px);
    padding-top: 5px;
}

.source-web img {
    height: 60px !important;
    width: 60px !important;
    border-radius: 50% !important;
    position: absolute !important;
    z-index: 22;
    top: 150px !important;
    box-shadow: 0px 0px 5px #ccc;
    float: right;
    right: 22px !important;
    background: #fff;
    object-fit: contain !important;
    margin: none !important;
    min-height: auto !important;
    min-width: auto !important;
    inset: 0!important;
}

.source-img img {
    /*height: 167px;*/
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
}

.date-stamp {
    display: inline-flex;
    padding: 5px 0 5px 0;
    position: absolute;
    bottom: 50px;
    padding-top: 5px;
}

.date-stamp-modal {
    display: inline-flex;
    padding: 5px 0 5px 0;
}

.date-stamp h6,
.date-stamp-modal h6 {
    font-size: 14px;
    font-weight: 400;
    color: #939393;
}

.card-bottom {
    border-top: 2px solid #b6b6b6;
    position: absolute;
    bottom: 0;
    padding-top: 5px;
    width: calc(100% - 20px);
    justify-content: space-between;
}

.bottom-socialmedia {
    display: inline-flex;
    margin-top: 9px;
    float: right;
}

button.react-share__ShareButton {
    margin-right: 20px;
}

.nav-socialBtn button {
    margin: 0;
}

.nav-socialBtn {
    padding-right: 4px;
}

.fb h3,
.tweet h3 {
    font-size: 16px !important;
}

.fb {
    padding-right: 25px;
}

.fb a,
.tweet a,
.fb i,
.tweet i {
    color: #686767 !important;
}

.fb i,
.tweet i {
    margin-top: -3px !important;
}


/* .socialBtn:first-child {
    margin-right: 12px;
} */

.tag h5 {
    background-color: #2CC441;
    border-radius: 25px;
    width: auto;
    display: inline-flex;
    letter-spacing: 1px;
    padding: 8px 20px 8px 20px;
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
}

.tag,
.invalid-tag,
.comm-tag {
    cursor: pointer;
}

.invalid-tag h5 {
    background-color: #ED3E15;
    border-radius: 25px;
    width: auto;
    display: inline-flex;
    letter-spacing: 1px;
    padding: 8px 20px 8px 20px;
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
}

.comm-tag h5 {
    background-color: #FCA106;
    border-radius: 25px;
    width: auto;
    display: inline-flex;
    letter-spacing: 1px;
    padding: 8px 10px 8px 10px;
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
}

.comm-note {
    background-color: rgba(252, 161, 6, 0.9);
    color: #fff;
    padding: 8px 8px 15px 8px;
    z-index: 15;
    position: absolute;
    bottom: 182px;
    width: auto;
    margin-right: 10px;
    padding-bottom: 12px;
}

.text h5 {
    font-size: 12px;
    line-height: 1.5;
}

.news-modal {
    max-width: 1100px !important;
    padding: 30px;
}

.modal-header {
    border: none;
}

.modal-brief {
    padding: 30px 0 120px 0;
}

.valid-brief {
    padding-bottom: 20px !important;
}

.news-title-modal h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    padding-top: 5px;
    width: calc(100% - 55px);
}

.source-web-modal img {
    height: 60px !important;
    width: 60px !important;
    border-radius: 50% !important;
    position: absolute;
    z-index: 22;
    top: 178px;
    box-shadow: 0px 0px 5px #ccc;
    float: right;
    right: 30px;
    background: #fff;
    object-fit: contain !important;
}

.valid-source img {
    top: 153px !important;
    right: 47px !important;
}

.valid-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 387px !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
}

.modal-news-full {
    padding: 20px;
}

.modal-news-full h2 {
    padding-bottom: 10px;
    line-height: 1.5;
    font-weight: 600;
    font-size: 2rem !important;
}

.modal-news-full p {
    line-height: 1.5;
    color: #939393 !important;
    text-align: justify;
    padding-bottom: 10px;
    font-size: 20px !important;
}

.modal-close h4 {
    font-size: 22px;
    color: #939393;
    cursor: pointer;
    padding-bottom: 10px;
}

.modal-socialmedia {
    display: inline-flex;
    margin-top: 15px;
}

.close-modal-btn button span {
    position: absolute;
    top: -24px;
    z-index: 200;
    right: -18px;
    background: #FCA106;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.dismiss-btn {
    color: white;
    font-size: 36px;
    border: none;
    background: none;
}

.ad-v1 {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    margin-left: 0px !important;
    margin-right: 0px !important;
    box-shadow: 0px 0px 5px #ccc;
}

.inner-card {
    cursor: pointer;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
}


/*.middle:hover {*/


/*    opacity: 1;*/


/*}*/

.comm-card:hover .middle {
    opacity: 1;
}

.bottom-ad img {
    padding-bottom: 10px;
}

.comm-card a,
.comm-card a:hover {
    color: #2a2b30 !important;
}

.comm-note a,
.comm-note a:hover {
    color: #fff !important;
}

.modal-brief .inner-card img {
    height: 180px;
    border-radius: 3px;
    width: 100%;
    object-fit: cover;
}

.inner-card a {
    color: #2a2b30;
}

.comm-note {
    background-color: rgba(252, 161, 6, 0.9);
    color: #fff;
    padding: 8px 8px 15px 8px;
    z-index: 15;
    position: absolute;
    bottom: 169px;
    width: auto;
    margin-right: 10px;
    padding-bottom: 20px;
}

.filter-btn {
    margin-left: -10px;
}

.main-logo a img,
.nav-tabs li {
    cursor: pointer !important;
}

@media (max-width:767px) {
    .content-warp .card .inner-card img {
        height: 95px;
    }
    .source-web img {
        height: 53px !important;
        width: 53px !important;
        top: 89px;
        right: 17px;
    }
    .news-title h3 {
        font-size: 14px;
        width: calc(100% - 40px);
    }
    .content-warp .card {
        height: 305px;
    }
    .bottom-socialmedia {
        padding-left: 15px;
        margin-top: 7px;
    }
    .card-bottom {
        bottom: 15px;
        padding-top: 5px;
    }
    .ad-v1 {
        padding: 20px;
    }
    .ad-v1 img {
        margin-bottom: 10px;
        width: 100%;
    }
    .invalid-bottom-socialmedia {
        padding-left: 15px;
        margin: auto;
        padding-top: 10px;
    }
    .invalid-tag h5 {
        font-size: 12px;
    }
    .comm-tag h5 {
        font-size: 12px;
    }
    .comm-bottom-socialmedia {
        margin: auto;
        padding-top: 10px;
    }
    .comm-title h3 {
        width: calc(100% - 50px);
    }
    .source-web-modal img {
        top: 105px;
    }
    .modal-news-full {
        padding: 0px;
    }
    .modal-brief {
        padding: 5px 0 40px 0;
    }
    #page-content-wrapper {
        padding-left: 0px !important;
    }
    .sidebar {
        display: none !important;
    }
    .date-stamp {
        bottom: 65px !important;
    }
    .pagination a {
        font-size: 14px !important;
        padding: 13px !important;
    }
    .pagination a:before {
        height: 35px !important;
        top: 7px !important;
    }
    .keywords-list {
        margin-top: 30px;
    }
    .ad-select-area {
        margin-bottom: 30px;
    }
    .image-here,
    .image-here img {
        padding-bottom: 30px !important;
    }
    .DateRangePicker {
        padding: 15px 0px;
    }
    .approval-status {
        margin-left: 0 !important;
    }
    .filter-warp .form-check {
        margin-top: 20px;
        margin-left: 0 !important;
        margin-bottom: 20px;
    }
    .DateRangePicker {
        width: 500px;
    }
    .DateRangePicker_picker {
        top: 81px !important;
        left: -37px !important;
    }
}

.pagination {
    position: relative;
    margin-bottom: 30px;
    margin-top: 20px;
    justify-content: center;
}

.pagination a {
    position: relative;
    display: inline-block;
    color: #2c3e50;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 3px 18px 3px;
    z-index: 2;
}

.pagination a:before {
    z-index: -1;
    position: absolute;
    height: 43px;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    background-color: #2c3e50;
    border-radius: 24px;
    transform: scale(0);
    transition: all 0.2s;
}

.pagination a:hover,
.pagination a .pagination-active {
    color: #fff !important;
}

.pagination a:hover:before,
.pagination a .pagination-active:before {
    transform: scale(1);
}

.pagination .pagination-active {
    color: #fff;
}

.pagination .pagination-active:before {
    transform: scale(1);
}

.pagination-newer {
    margin-right: 50px;
}

.pagination-older {
    margin-left: 50px;
}

.news-meta h5 {
    margin-bottom: 0px;
}

.news-meta span {
    font-size: 14px;
    display: block;
}

.fa-facebook,
.fa-facebook-square {
    color: #3b5998;
}

.fa-twitter,
.fa-twitter-square {
    color: #00aced;
}

.modal-brief .content-warp .card {
    width: 400px;
}

.content-warp .card {
    padding: 10px;
    box-shadow: 0px 0px 5px #ccc;
    margin-bottom: 30px;
    min-height: 300px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 3px;
    height: 348px;
}

.news-title h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    width: calc(100% - 75px);
    padding-top: 5px;
    cursor: pointer;
}

.news-source img {
    height: 60px !important;
    width: 60px !important;
    border-radius: 50% !important;
    position: absolute;
    z-index: 22;
    top: 150px;
    box-shadow: 0px 0px 5px #ccc;
    float: right;
    right: 22px;
    background: #fff;
    object-fit: contain !important;
}


/* .content-warp .card .inner-card img {
    height: 152px;
    border-radius: 3px;
    object-fit: cover;
    width: 100%;
} */

.date-stamp {
    display: inline-flex;
    padding: 5px 0 5px 0;
    position: absolute;
    bottom: 50px;
    padding-top: 5px;
}

.date-stamp-modal {
    display: inline-flex;
    padding: 5px 0 5px 0;
}

.date-stamp h6,
.date-stamp-modal h6 {
    font-size: 14px;
    font-weight: 400;
    color: #939393;
}

.card-bottom {
    border-top: 2px solid #b6b6b6;
    position: absolute;
    bottom: 0;
    padding-top: 5px;
    width: calc(100% - 20px);
    justify-content: space-between;
}

.fb {
    padding-right: 25px;
}

.react-share__ShareButton {
    padding-right: 25px;
    color: #686767 !important;
    margin-top: -3px !important;
    margin-top: -3px !important;
}


/*react-share__ShareButton a,*/


/*react-share__ShareButton i {*/


/*    color: #686767 !important;*/


/*}*/

.socialBtn i {
    margin-top: -3px !important;
}

.tag h5 {
    background-color: #2CC441;
    border-radius: 25px;
    width: auto;
    display: inline-flex;
    letter-spacing: 1px;
    padding: 8px 20px 8px 20px;
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
}

.tag,
.invalid-tag,
.comm-tag {
    cursor: pointer;
}

.invalid-tag h5 {
    background-color: #ED3E15;
    border-radius: 25px;
    width: auto;
    display: inline-flex;
    letter-spacing: 1px;
    padding: 8px 20px 8px 20px;
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
}

.comm-tag h5 {
    background-color: #FCA106;
    border-radius: 25px;
    width: auto;
    display: inline-flex;
    letter-spacing: 1px;
    padding: 8px 10px 8px 10px;
    margin-top: 5px;
    font-size: 12px;
    color: #fff;
}

.css-10mfmz2 {
    margin-left: 50%;
}

.row.margin-reset.advertisement {
    padding-bottom: 20px;
}


/* .row.margin-reset.advertisement.bottom img {
    bottom: 0 !important;
    position: absolute !important;
} */


/* .content-wrap {
    display: block;
} */

.form-check {
    display: inline-block !important;
    padding: 0 !important;
}

.add-btns {
    display: inline-flex;
    padding-bottom: 40px;
}

.add-btns .second-btn {
    margin-left: 30px;
}

.image-wrap {
    height: 167px;
    position: relative;
}

.image-wrap img {
    object-fit: cover;
}

.web-btns button {
    margin-left: 0!important;
}


/* .DayPicker_weekHeader_1 {
    left: 353px !important;
    padding: 0px !important;
} */


/* .DateRangePicker {
    margin-top: 80px;
}

.daterange {
    padding: 0 !important;
} */