.checkbox {
    border: 2px solid #d33f8d;
}

.input-group1 {
    width: 420px !important;
}

.input-group2 {
    margin-top: 72px;
    margin-left: -228px;
    width: 408px !important;
}

.btnAdd {
    margin-right: 15px !important;
}

.checkBoxLabel {
    font-family: auto;
    font-size: 19px;
    cursor: pointer;
}

.btnRow {
    margin-left: 265px !important;
    display: flex;
}

.select {
    /* font-family: auto; */
    font-size: 19px;
    margin-left: 20px;
}

.checkboxform {
    box-sizing: border-box;
}

.form-check-input {
    position: absolute;
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.selection-check input {
    height: 30px;
}

.add-web-btns {
    margin-left: 16px;
}